<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="Logo playstation"
      width="140px"
      height="32px"
    />
  </div>

  <div class="menu-bar__item">
    <ul>
      <li><a href="https://instagram.com/edmilt0n.p?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">INSTAGRAM</a></li>
      <li><a href="https://www.linkedin.com/in/edmilton-souza-166309265/" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/Edmilt0n" target="_blank">GITHUB </a></li>
    </ul>
  </div>
</div>
